
@font-face {
	font-family: 'IRANSans';
	src: url('../fonts/IRANSans.ttf') format('truetype'),  /* IE6–8 */

}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3gfazw');
  src:  url('fonts/icomoon.eot?3gfazw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3gfazw') format('truetype'),
    url('fonts/icomoon.woff?3gfazw') format('woff'),
    url('fonts/icomoon.svg?3gfazw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Book:before {
  content: "\e900";
}
.icon-cross:before {
  content: "\e901";
}
.icon-dropdown:before {
  content: "\e902";
}
.icon-file:before {
  content: "\e903";
}
.icon-person:before {
  content: "\e904";
}
.icon-Pricetag:before {
  content: "\e905";
}
.icon-Speed:before {
  content: "\e906";
}
.icon-uploda:before {
  content: "\e907";
}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    outline:none;
}
.control {
    display: block;
    position: relative;
    padding-right: 10px;
    margin-bottom: 15px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 13px;
    float: right;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    right: -16px;
    height: 20px;
    width: 20px;
    background: #ccdef0;
    border: 0px solid #000000;
}
.control-radio .control_indicator {
    border-radius: undefined%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #ccdef0;
}

.control input:checked ~ .control_indicator {
    background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
    background: #ccdef0;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
.icon-person:before {
  content: "\e904";
}
.icon-dropdown:before {
  content: "\e902";
}
button{
    outline: none;
}
.btn,.btn-send{
    outline: none !important;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
.res-back > img{
    display: none;
}
.no-padding{
    padding: 0;
}

.main-header {
    width: 100%;
    height: auto;
}
.header-title {
    float: right;
    height: 80px;
    line-height: 80px;
    direction: rtl;
    padding-right: 80px;
}
.logo-holder {
    height: 80px;
    float: right;
}
.logo-holder > a > img {
    width: 200px;
    display: block;
    margin:20px auto;
}
.header-bottun-side {
    height: 80px;
/*    float: right;*/
}
.header-bottun-side > button {
    width: 130px;
    height: 30px;
    border: 1px solid #977ed9;
    border-radius: 25px;
    background-color: transparent;
    display: block;
    margin: 25px auto;
    color: #977ed9;
    font-size: 16px;
   
}
.header-bottun-side > button > span {
    margin-top: 2px;
}
.header{
    width: 100%;
    height: 200px;
    background-color: white;
}
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: IRANSans;
}

@media only screen and (max-width:1000px) {
     .header-title{
        padding-right: 20px;
    }
    .infor {
        font-size: 16px!important;
    }
    .shape-content{
        margin-right: 15px;
    position: absolute;
    font-family: IRANSans;
   text-align: center;
    direction: rtl;
    top: 29%;
    left: 22% !important;
     z-index: 4;
  }
    .spb{
        font-size: 30px !important;
    }
    .mobile-view-table {
        display: inline-block!important;
    }
    .mobile-view-del {
        display: none!important;
    }
    .report-boxes {
        padding: 20px 10px!important;
    }
    .mobile-view-style2 {
        width: 60%!important;
         vertical-align: middle;
    }
    .mobile-view-style1 {
        width: 40%;
        vertical-align: middle;
    }
    .upload {
        margin-left: 0 !important;
    }
    .tamrin {
        text-align: right!important;
    }
}
@media only screen and (max-width:650px) {

    .btn-send {
    width: 20%;
    padding: 10px;
    font-size: 12px; 
    width: 20%;
    padding: 10px;
    font-size: 12px;
    }
    .box3 {
    padding: 30px;
    }
.button-send {
        top:70%;
    } 
        .fast,.cheap,.accurate{
        display: none !important; 
    }
      .shape-content span {
        color: black;
          font-size: 18px;
    }
    .spb1{
        color: #e85792 !important;
    }
    .spb2{
        color: #9e88db !important;
    
    }
    .spb3{
        color: #26cad3 !important;
    }
    .header-title {
        font-size: 12px;
            padding-right: 0px;
    }
    
    .logo-holder > a > img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
    }
    .mobile-view-style2 {
        font-size: 12px;
    }
    .mobile-view-style1 {
        font-size: 12px;
        text-align: center;
    }
    .btn-files {
        position: absolute;
        top: 50%;
        width: 90%;
        height: 25px;
        right: -1%;
/*        margin-top: -12px;*/
    }
    .padng-none {
        padding: 0!important;
    }
    .mobile-view-style1 {
        padding: 10px 0!important;
    }
    
}

@media only screen and (max-width:450px){
    .bodypic >img{
        display: none;
    }
    .res-back >img{
        display: block;
        width: 100%;
        height: auto;
    }
    .header-title {
        display: none;
        
    }
    .header-title > span {
        display: block;
    }
    .header-bottun-side > button {
/*        width: 100%;*/
        height: 30px;
        font-size: 16px;
/*        padding: 5px 5px;*/
        text-align: center;
    }
    .btn-files > span {
        display: none;
    }
    .btn-files {
        padding: 5px 10px!important;
    }
}
 
.system{
     font-family: IRANSans;
    color: #ee6b9f;
}
.solve{
   color: #7d5fd1;
     font-family: IRANSans;
}
.rubick{
    color: #28ccd5;
     font-family: IRANSans;
}
.logo2{
    background-color: #7d5fcf;
    width: 100%;
    height: 80px;
    display: block;
    position: relative;

}

.logo2 > img{
    width: 80px;
    position: absolute;
    top: 65%;
    margin-top: -19px;
    right: 50%;
    margin-right: -50px;
}
.pan-user{
    width: 150px;
    border-radius: 30px;
    border:1px solid #977ed9;
    background-color: white;
    padding:10px;
}
.pan-user span{
    font-size: 16px;
    color: #977ed9;
}
.bodypic{
    position: relative;
    width: 100%;
}
.bodypic > img {
    width: 100%;
}
.btn-send{
    width: 150px;
    padding: 15px;
    background-color: #28cbd4;
    border-radius: 30px;
    outline: none;
    border: none;
}
.btn-send span{
    color: white;
    font-weight: bold;
}
.button-send{
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
    position:absolute;
    top:80%;
}
.infor{
    width: 80%;
    height: auto;
    text-align: center;
    display: block;
    position:absolute;
    top:20%;
    left:10%;
    float: right;
    direction: rtl;
    font-size: 20px;
}
.a,.b,.d,.f{
 font-family: IRANSans;
}
.c{
    font-family: IRANSans;
    
    color:#ea5692;
}
.e{
    font-family: IRANSans;
    
    color:#28cbd4;
}
.buttons-fsa{
    padding:0 15px 15px 15px;
    width: 100%;
    height: 100px;
}
/*
.box3{
    padding: 50px;
   
}
*/
.spb{
    font-size: 40px;
}

.holder{
    position: relative;
}
.shape-content{
    position: absolute;
    font-family: IRANSans;
    font-size: 25px;
   text-align: center;
    direction: rtl;
    top: 29%;
    left: 34%;
    color: white;
     z-index: 4;
}
.box3{
    padding: 20px 0px !important;
   
}
.fast{
    width: 100%;
	height: 100px;
	-webkit-transform: skew(-30deg);
	   -moz-transform: skew(-30deg);
	     -o-transform: skew(-30deg);
    background-color: #eb5793;
    border-radius: 10px 35px 10px 35px;
    text-align: center;
    z-index: 2;
}
.shape-content span{
    padding-right: 10px;
    float: right;
}
.shape-content-titile{
    display: inline-block;
    margin-top: 5px;
}
.cheap{
    margin-right: 18%;
    width: 100%;
	height: 100px;
	-webkit-transform: skew(-30deg);
	   -moz-transform: skew(-30deg);
	     -o-transform: skew(-30deg);
    background-color: #7e60d0;
    border-radius: 10px 35px 10px 35px;
     text-align: center;
    line-height: 6;
}
.accurate{
    width: 100%;
	height: 100px;
	-webkit-transform: skew(-30deg);
	   -moz-transform: skew(-30deg);
	     -o-transform: skew(-30deg);
    background-color: #27cbd5;
    border-radius: 10px 35px 10px 35px;
     text-align: center;
    line-height: 6;
}

.text-box-down{
    width: 100%;
    height: 100%;
    background-color: #f1f6fc;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 40px;
    overflow: auto;
}
.text-box-down p{
    float: right;
    font-size: 14px;
    text-align: center;
    line-height: 2;
}
.time-float-l {
    float: left;
}
@media only screen and (max-width:800px){
    .reg-button > button {
    font-size: 14px;
    }
    .header-title{
        padding-right: 20px;
    }
    .firstbox {
    width: 90% !important;
    }
    .loginform {
        width: 100%!important;
    }
    .reg-button {
        width: 100%;
        height: auto;
        display: block;
    }
    .reg-button > button {
        width: 40%!important;
        margin-left: 6%!important;
    }
    .new-exs{
        width: 100%!important;
    }
    .first-box{
     width: 90% !important;
    }
    .lessons-box-select{
        width: 100% !important;
    }
    .upload-files-box{
         width: 80% !important;
         float: left;
        overflow: auto;
        
    }
    .added-file{
        display: none;
     
    }
    .btn-upload{
     width: 80% !important;
     margin-left: 10% !important;
    }
    .up-text{
           padding-right: 43%;
    }
    .mobile-view-added-file{
        display: inline-block!important;
        float: right;
        color: black;
        width: 30% !important;
        direction: rtl;
        font-weight: bold;
        margin-top: 10px;
        font-size: 14px;
    }
}
.mobile-view-added-file{
    display: none;
}
@media only screen and (max-width:360px){
    .upload {
    margin-left: 0 !important;
    }
    .lessonsform {
    padding:20px!important;
    }
    .title-font-left{
        display: none;
    }
    .upload-files-box span {
     line-height: 1; 
    }
    .select-box{
    font-size: 12px!important;
    }
   .lables{
    font-size: 12px !important;
    }
   .selected-lesson-name{
    font-size: 12px!important;
    }  
    .close-span-upload-left{
    font-size: 12px!important;
    }
    .up-text {
    padding-right: 28%;
    }
   
    .tamrin-span span {
    margin: -10px 0px 0px -30px;
    }
    
    
}
@media only screen and (max-width:450px) {
     .mobile-view-added-file {
    width: 100% !important;
        padding-bottom: 20px;
    }
        
    .select-box{
    font-size: 14px;
    }
   .lables{
    font-size: 14px;
    }
   .selected-lesson-name{
    font-size: 14px;
    }  
    .close-span-upload-left{
    font-size: 14px;
    }
    .loginform-label {
        font-size: 11px!important;
        width: 30%!important;
    }
    .input-style {
        width: 70%!important;
        font-size: 11px!important;
    }
    .checkboxlabel {
        width: 100%!important;
        font-size: 11px!important;
        margin-right: 20px;
        
    }

.btn-send {
    width: 100px;
        
    }
}
.register{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
}
.reg-button {
    display: inline-block;
    width: 60%;
    height: auto;
    float: left;
}

.register-enter{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}
.firstbox{
    width: 800px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    display: block;
    margin: 50px auto;
    overflow: hidden;
}
.icon-span {
    width: 110%;
    height: 100px;
    text-align: cente;
}
.icon-span > span {
    width: 110%;
    height: 100px;
    display: block;
   margin: 20px auto;
    border-radius: 25px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41acd4+0,657fd1+100 */
background: #41acd4; /* Old browsers */
background: -moz-linear-gradient(-45deg, #41acd4 0%, #657fd1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #41acd4 0%,#657fd1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #41acd4 0%,#657fd1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41acd4', endColorstr='#657fd1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.loginform{
    width: 60%;
    height: 200px;
    background-color: white;
    display: block;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
}
.loginform-label{
    direction: rtl;
    width: 20%;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-family:IRANSans; 
    line-height: 50px;
}
.checkboxlabel{
    direction: rtl;
    width: 40%;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-family:IRANSans; 
    line-height: 30px;
    margin-right: 20px;
}

.input-style {
     outline: none;
    width: 80%;
    display: inline-block;
    margin-bottom: 10px;
    float: right;
    background-color: #ebf4fb;
    border-radius: 8px;
    height: 46px;;
    border: none;
    padding-left: 10px;


}
.input-style::placeholder{
    
    color: #cdd6e7;
}
.btn-info {
     display: inline-block;
    float: left;
    margin: 3px;
    border: none;
   border-radius: 10px;
    width: 120px;
    height: 40px;
    background-color: #27cbd5;
  
}
.btn-primary{
  display: inline-block;
    float: left;
    margin: 3px;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    background-color: #ebf4fb;
}

.enter{
    color:#27cbd5;
    font-size: 16px;
    font-family: IRANSans;
}
.enter2{
    color:white;
    font-size: 16px;
    font-family: IRANSans;
}

.btn btn-primary {
    color: aqua;
}
.mainbody{
    background-color: #dee0ed;
    width: 100%;
    height: auto;
    
}
.mainbody-box{
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: #ebeef5;
    border-radius: 20px;
    display: block;
    margin: 50px auto;
    overflow: hidden;
}
.head-body{
    width: 100%;
    height: 100px;;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    padding: 30px 40px;
    
}
.upload{
    padding: 10px !important;
    margin-left: 20px;
}
.tamrin{
    text-align:center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;

}
.report-boxes{
    padding:40px 60px;
}
.report-first{
    width: 100%;
    background-color: white;
    border-radius:35px;
    margin-top:20px;  
}
.report-second{
    width: 100%;
    background-color: white;
    border-radius:35px;
    margin-top:20px;  
}
.report-third{
    width: 100%;
    background-color: white;
    border-radius:35px;
    margin-top:20px;  
}
.report-fourd{
    width: 100%;
    background-color: white;
    border-radius:35px;
    margin-top:20px;  
}
.tab tr td{
    border:1px solid #e8ebf2;
    direction: rtl;
    padding: 20px 0px;
    position: relative;
    vertical-align: middle;
   
}
.tab{
    width: 100%;
    height: auto;
    text-align: center;
}
.lesson{
   color: #9564b5;
    font-weight: bold;
}
.btn-files{
    background-color: white;
    border: 1px solid #5dd8e0;
    border-radius: 40px;
    padding: 5px 10px 5px 35px  ;
    font-size: 12px;
    position: static;
    color: #9564b5;
    position: relative;

}
.file-table {
    position: absolute;
    top: 7px;
    left: 12px;
}
.btn-files span{
    color:  #9564b5;
}
.err span{
    color: #e96b55;
    font-weight: bold;
    padding: 0 10px;
    display: inline-block;
       margin-bottom: 5px;
}
.btn-view{
    background-color: white;
    border: 1px solid #e96b55;
    border-radius: 40px;
    color: #e96b55;
    padding: 10px;
    width: 120px;
}
.pay span{
     color: #ae8cc9;
    font-weight: bold;
    padding: 0 10px;
    display: inline-block;
      margin-bottom: 5px;
   
}
.btn-pay{
        background-color: white;
    border: 1px solid #ae8cc9;
    border-radius: 40px;
    color: #ae8cc9;
    padding: 10px;
    width: 120px;
}
.inpro span{
    color: #54acd0;
    font-weight: bold;
   
}
.btn-dl{
  background-color: white;
    border: 1px solid #2fdbb5;
    border-radius: 40px;
    color: #2fdbb5;
    padding: 10px;
    width: 120px; 
}
.slv span{
     color: #2fdbb5;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    margin-bottom: 5px;
   
}
.slv,.inpro,.pay,.err{
    width: 30%;
}
.new-exs{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    right: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 100;
    overflow: auto;
}
.first-box{
    width: 800px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    display: block;
    margin: 50px auto;
      box-shadow: 5px 5px 45px #84dae0;
     overflow: auto;
}
.lessonsform{
    width: 100%;
    height:400px;
    background-color: white;
    display: block;
    margin: 0 auto;
    padding: 30px 40px;
   
    
}
.tamrin-span{
        position: relative;
}
.tamrin-span img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0px;
}
.tamrin-span span{
    position: absolute;
   top: 40%;
    left: 47%;
    color: white;
    font-weight: bold;
}
.select-box{
    display: block;
    width: 60%;
    height: auto;
    padding: 10px;
    margin: 15px;
    background-color: #ebf4fb;
    border-radius: 15px;
    outline: none;
    border: none;
    direction: rtl;
    font-weight: bold;
}
.lables{
    direction: rtl;
     width: 40%;; 
    display: inline-block;
    float: right;
    font-size: 14px;
    font-family: IRANSans;
    line-height: 4.5;
}
.lessons-box-select{
    width: 65%;
    height: auto;
    float: right;
}
.upload-files-box{
    width: 30%;
    height: auto;
    background-color: #ebf4fb;
    border-radius: 15px;
    padding: 12px;
    overflow: auto;
}

.btn-upload{
    background-color: #28cad5;
    color: white;
    border-radius: 15px;
    width: 35%;
    float: left;
    margin-bottom: 15px;
}
.upload-files-box span{
    float: right;
    line-height:3;
    font-size: 12px;
}
.sabt-button{
    width: 100%;
   display: block;
   padding: 10px;
}
.btn-submited{
    display: inline-block;
    margin: 20px;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    background-color: #27cbd5;
    color: white;
    margin-left:30%;
}
.upload-file1{
 padding-top: 5px;
   
}
.upload-file1 img{
    float: right;
    margin: 10px 10px 5px 5px;
}
.file-upload-title{
    color: #7e60d2;
    float: left;
    border: 1px solid white;
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    height:auto;
    background-color:transparent;
    margin: 5px 0;
}
.title-font-left {
    float: left!important;
    color: #27cbd5;
}
.close-span-upload {
    color: black;
    padding-right: 5px;
}
.file-font-holder {
    float: left;
}
.selected-lesson{
    display: block;
    width: 100%;
    margin: 15px;
}
.selected-lesson-name{
    display: block;
    color: #7e60d2;
    direction: rtl;
    border: 1px solid #ebf4fb;
    padding: 10px 30px 10px 20px;
    border-radius: 15px;
    background-color:transparent;
    width: 60%;
}
.selected-lesson img{
    float: left;
    margin: 5px;
}
.icon-person{
      padding: 0 5px;
    float: left;

}
.person{
    text-align: center;
    line-height: 4;
    color: white;
    font-size: 25px;
}

/*
.icon-file{
    padding: 0 10px;
}
*/
.icon-uploda{
    padding-left: 3px;
}
.close-span-upload-left{
    float: left;
    color: black;
    padding-left: 6px;
}
.icon-person-enter{
    padding: 2px 10px;
}
.mobile-view-table {
    display: none;
}
.mobile-view-del {
    display: table-cell;
}

.file-table{
    color: #27cbd5 !important;
}
