

@font-face {
	font-family: 'IRANSans';
	src: url('../fonts/IRANSans.ttf') format('truetype'),  /* IE6–8 */

}
body {
  margin: 0;
  padding: 0;
  background: #dee0ed;
  color: #323232;
  font-family: IRANSans;
  font-size: 112.5%;
  line-height: 1.6em;
}

.timeline {
  position: relative;
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  list-style-type: none;
}
/*
@media (max-width:860px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }
}
*/
.timeline:before {
     position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 5px;
    height: 100%;
    margin-left: -3px;
    background: #eff0f5;
    z-index: 5;
}
.timeline li {
  padding: 3em 0;
}
/*
@media (max-width:860px) {
  .timeline li {
    padding: 2em 0;
  }
}
*/
.timeline li::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width:50%;
    padding-right: 11px;
  float: left;
  text-align: right;
}
/*
@media (max-width:860px) {
  .direction-l {
    float: none;
    width: 100%;
    text-align: center;
  }
}
*/
.direction-l .flag {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
/*
@media (max-width:860px) {
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: white;
    border-width: 8px;
    pointer-events: none;
  }
}
*/
.direction-l .time-wrapper {
  float: left;
}
/*
@media (max-width:860px) {
  .direction-l .time-wrapper {
    float: none;
   
  }
}
*/

.direction-r {
  position: relative;
  width: 50%;
  float: right;
    padding-left: 9px;
}
/*
@media (max-width:860px) {
  .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
}
*/
.direction-r .flag {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 99%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #27cbd5;
  border-width: 8px;
  pointer-events: none;
}
/*
@media (max-width:860px) {
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: white;
    border-width: 8px;
    pointer-events: none;
  }
}
*/
.direction-r .flag:before {
  left: -40px;
}
.direction-r .time-wrapper {
  float: right;
}
@media (max-width:860px) {
  .direction-r .time-wrapper {
    float: none;
  }
}
.flag-color{
    background-color: white !important;
    color: #7e61cf !important;
}
.flag-color-2{
    background-color: #2fdab8 !important;
     color: #7e61cf !important;
}
.flag-color:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: white !important;
    border-width: 8px;
    pointer-events: none;
}
.flag-color-2{
    background-color: #2fdab8 !important;
}
 .direction-l .flag-color-2:after{
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: #2fdab8 !important;
    border-width: 8px;
    pointer-events: none;
}
.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}
/*
@media (max-width:860px) {
  .flag-wrapper {
    text-align: center;
  }
}
*/
.flag-wrapper .flag {
  position: relative;
  display: inline;
  background: #27cbd5;
     padding: 15px;
    border-radius: 30px;
  font-weight: 400;
    font-size: 18px
  text-align: left;
    margin-left: 40px;
    color: white;
}
/*
@media (max-width:860px) {
  .flag-wrapper .flag {
    background: white;
    z-index: 15;
  }
}
*/
.flag-tt{
    margin-right:35px;
    color: white !important;
}
.direction-l .flag :before,
.direction-r .flag:before {
 position: absolute;
    top: 50%;
    right: -56px;
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -7px;
    margin-left: -20px;
    background: #7f61d3;
    border-radius: 10px;
    border: 5px solid white;
    z-index: 10;
}
/*
.flag-tt :before,
.flag-tt:before {
 position: absolute;
    top: 44%;
    right: -21px;
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -7px;
    margin-right: -35px;
    background: #7f61d3;
    border-radius: 10px;
    border: 5px solid white;
    z-index: 10;
}
*/
/*
@media (max-width:860px) {
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    margin-left: -10px;
  }
}
*/

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #58B96B;
  vertical-align: middle;
}
/*
@media (max-width:860px) {
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
}
*/
.time-wrapper .time {
      display: inline-block;
    padding: 4px 6px;
    background: #c0c5d9;
    border-radius: 20px;
    color: white;
    float: right !important;
}
.time-loc{
     float: right !important;
    margin-right: 30px !important;
     margin-right: 134px !important;
    margin-top: -25px !important;
}
.time-loc-2{
     float: left !important;
    margin-right: 30px !important;
     margin-left: 134px !important;
    margin-top: -25px !important;
}
.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.5em;
}
.desc a {
  color: #58B96B;
  text-decoration: none;
}
.desc a:hover {
  text-decoration: underline;
}
/*
@media (max-width:860px) {
  .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    background: whitesmoke;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15;
  }
}
*/
.header-box{
    width: 100%;
    height:auto;
    background-color: white;
}
.header-bottun-side > button{
       width: 130px !important;
       height: 30px!important;
      padding-left: 35px;
    position: relative;
}
.top-banner{
    width: 100%;
    height: 150px;
    background-image: url(img/timeline-page.jpg);
    background-position: bottom center;
    background-size: cover;
}
.top-banner-contain {
    text-align: center;
 padding-top: 50px;
}
.top-banner-contain span{

    direction: rtl;
    color: white;
    font-weight: bold;
    display: block;
}
.top-banner-contain i{
    direction: rtl;
    color: white;
    font-weight: bold;
}
.flag-tt-button-dl{
        background-color: transparent;
        border:1px solid white;
        border-radius: 20px;
        padding: 0 30px;
        font-size: 14px;
    float: left;
    }
.solved-stage {
    padding: 10px;
}
.solved-stage-m {
    display: none;
}
@media (max-width:620px){
    .flag-tt-button-dl {
    padding: 0 10px !important;
    font-size: 12px !impotant;
        }
    }
@media (max-width:800px){
    .flag-wrapper .flag {
    padding: 10px;
    font-size: 16px; 
    }
    .top-banner-contain{
        font-size: 16px;
    }
    .header-title{
        padding-right: 10px;
    }
    .solved-stage {
        display: none;
    }
    .solved-stage-m {
        display: inline-block;
    }
}

@media (max-width:450px){
    .header-bottun-side > button{
        font-size: 16px;
        line-height: 1;
    }
     .top-banner-contain{
        font-size: 14px;
    }
    .flag-tt-button-dl{
         padding: 0 5px;
        font-size: 12px;
        float: none;
    }
    .flag-wrapper .flag {
    padding: 10px;
    font-size: 14px; 
 }
    .time-right {
    margin-top: -30px;
}
}
@media (max-width:350px){
      .top-banner-contain{
        font-size: 12px;
    }
.flag-tt-button-dl{
        font-size: 10px;
    }
    .flag-wrapper .flag {
    padding: 10px;
    font-size: 12px; 
    margin-left: 20px;
}
    .direction-l .flag :before, .direction-r .flag:before{
            margin-left: 0px;
        }
}
.time-right {
    margin-top: -24px;
}
.icon-person{
      padding: 0 5px;
    position: absolute;
    left: 11%;

}
    